<div class='row'>
    <div class='col-xs-3'>
        <div class="panel panel-default">
          <div class="panel-body">
            <center><img src="/Default-Avatar.jpg" height="200px" width="200px" class="rounded-img"></center>
            <%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %>
            <%= render '/components/stats' %>
          </div>
        </div>
    </div>
    <div class='col-xs-7'>
      <% if current_user.username == User.find_by_username(params[:id]).username %>
        <%= render '/components/post_form' %>
      <% end %>
      <% for @p in @posts %>
      <div class="panel panel-default post-panel">
        <div class="panel-body">
          <div class = "col-xs-1">
            <img src="/Default-Avatar.jpg" height="50px" width="50px"></img>
          </div>
          
          <div class "col-xs-11">
            <div class = "posts">
              <a href = "/user/<%= User.find(@p.user_id).username %>"><%= User.find(@p.user_id).username %><span class = "post-time"> <%= @p.created_at.to_formatted_s(:short)%></span></a>
              <p><%= @p.content %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class='col-xs-2'>
        <div class="panel panel-default">
          <div class="panel-body">
            <center>
              <p>Posts</p>
              <strong><%= current_user.posts.count %></strong>
            </center>
          </div>
        </div>
    </div>
</div>