<div class='row'>
    <div class='col-xs-3'>
        <div class="panel panel-default">
          <div class="panel-body">
            <center><img src="/Default-Avatar.jpg" height="200px" width="200px" class="rounded-img">
            <%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %>
            <%= render '/components/stats' %>
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal"><span class= "glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
            </center>
          </div>
        </div>
    </div>
    <div class='col-xs-7'>
      <!-- Only renders if the user is on their own profile. -->
      <% if current_user.username == User.find_by_username(params[:id]).username %>
        <%= render '/components/post_form' %>
      <% end %>
      <!-- Ruby loop to trigger for all the posts necessary -->
      <% for @p in @posts %>
      <div class="panel panel-default post-panel">
        <div class="panel-body">
          <div class = "col-xs-1">
            <img src="/Default-Avatar.jpg" height="50px" width="50px"></img>
          </div>
          
          <div class "col-xs-11">
            <div class = "posts">
              <!-- Accesses database to find the post's user and created date -->
              <a href = "/user/<%= User.find(@p.user_id).username %>"><%= User.find(@p.user_id).username %><span class = "post-time"> <%= @p.created_at.to_formatted_s(:short)%></span></a>
              <p><%= @p.content %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class='col-xs-2'>
        <div class="panel panel-default">
          <div class="panel-body">
            <center>
              <p>Posts</p>
              <strong><%= User.find_by_username(params[:id]).posts.count %></strong>
            </center>
          </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Your Profile</h4>
      </div>
      <div class="modal-body">
        <p>
          Your Profile is how others will see you, Make it count. As well as posting and seeing your follower-following ratio you will also get to see the number of Posts you make.
          Only your posts will be on your profile. Here people can get a clear indication of who you are. Think of it like your brain!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>